.body{
    background: #fafafa;
}
.dino{
    width: 60px;
    height: 60px;
    background-image: url(./img/dino.png);
    position: absolute;
    bottom: 0;
    
}


.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(./img/cactus.png);
    
}
.game-over{
    color: #9cff00;
    font-family: Arial;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px 10px rgb(0, 255, 0);
}
.restart{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.restart a{
    background:#ff1506;
    font-family: Arial;
    margin: auto;
    width: 150px;
    height: 65px;
    border-radius: 15px;
    text-decoration: none;
    color: #00ff00;
    text-shadow: 2px 2px 10px rgb(0, 255, 0);
    font-size: 35px;
    text-align: center;
}

@keyframes slideright{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}
.background{
    position: absolute;
    bottom: 0;
    background-image: url(./img/background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}